@model IEnumerable<EFDataApp.Models.Vaccination>

@{
    ViewData["Title"] = "Index";

}

<h1>Вакцины</h1>

<p>
    <a asp-action="Create">Добавить вакцину</a>
</p>
<table class="table">
    <tr>
        <th>Препарат</th>
        <th>Наличие согласия</th>
        <th>Дата вакцинации</th>
    </tr>


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pils)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HaveVaccination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VaccinationDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
